.container-movie-scroll {
  width: 100%;
  user-select: none;

  a {
    text-decoration: none;
  }

  .title-link {
    display: flex;
    gap: 7px;
    align-items: baseline;
    text-decoration: none;
    margin-top: 11px;
    margin-bottom: 6px;

    &.nearby-cinema {
      margin-bottom: 8px;
    }

    &.promotion {
      margin-bottom: 7px;
    }

    &.promotion,
    &.nearby-cinema {
      h3 {
        margin-left: 4px;
        margin-bottom: 2px;
      }
    }

    svg {
      fill: rgb(152, 170, 236);
    }

    h3 {
      margin-top: 3px;
      margin-bottom: 9px;
    }
  }

  .title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .pagination-dots {
      margin-right: 20px;
      opacity: 0.7;

      button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        margin-left: 8px;
        background-color: rgb(97 118 148);
      }

      .active {
        background-color: rgb(255 226 112);
        width: 10px;
        height: 10px;
      }

      // 255 226 112
    }
  }

  h3 {
    margin-top: 18px;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
  }

  .wrapper-movie-scroll {
    position: relative;
    margin-bottom: 20px;

    .wrapper-buttons {
      opacity: 0;

      button {
        position: absolute;
        top: 40%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 6;

        svg {
          width: 24px;
          height: 24px;
          color: rgb(152, 170, 236);
        }
      }

      .left {
        left: 7px;
      }

      .right {
        right: 12px;
      }
    }

    &:hover {
      .wrapper-buttons {
        opacity: 1;
      }
    }

    .movie-scroll {
      display: flex;
      gap: 16px;
      padding-right: 16px;
      overflow-x: hidden;

      &.active {
        .movie {
          pointer-events: none;
        }
        .wrapper-new-movie {
          pointer-events: none;
        }
        .wrapper-nearby-cinema {
          pointer-events: none;
        }
        .wrapper-promotion {
          pointer-events: none;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 250px;
      height: 100%;
      background-image: linear-gradient(to left, rgb(4, 18, 24, 0.98), rgb(4, 18, 24, 0));
      z-index: 5;
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 250px;
      height: 100%;
      background-image: linear-gradient(to right, rgb(4, 18, 24, 0.98), rgb(4, 18, 24, 0));
      z-index: 5;
      pointer-events: none;
    }
  }

  .hidden-before {
    .wrapper-buttons {
      .left {
        display: none;
      }
    }
    &::before {
      display: none;
    }
  }

  .hidden-after {
    .wrapper-buttons {
      .right {
        display: none;
      }
    }
    &::after {
      display: none;
    }
  }
}
