.banner {
  height: 320px;
  position: relative;
  grid-row: span 2 / span 2;
  grid-column: span 1 / span 1;

  h1 {
    margin: 0;
    margin-top: 10px;
    font-size: 36px;
  }

  .wrapper-description {
    margin-bottom: 79px;
  }

  .description {
    max-width: 600px;
    margin-top: 7px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .wrapper-ticket {
    display: flex;
    position: absolute;
    height: 68px;
    bottom: 0;
    z-index: 30;
    gap: 8px;
    padding-left: 20px;

    .ticket {
      width: 182px;

      button {
        padding-top: 12px;
        padding-bottom: 12px;
        letter-spacing: -0.4px;
      }
    }

    .watch-trailer {
      button {
        width: 226px;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: -0.4px;
      }
    }
  }

  &:before {
    content: "";
    width: 60%;
    height: 100%;
    left: -2px;
    position: absolute;
    background-image: linear-gradient(to right, rgb(22, 27, 34, 1), rgb(22, 27, 34, 0));
    z-index: 10;
    border-radius: 8px;
  }
}
