.container-main-login {
  display: flex;
  width: 942px;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 140px;

  .login-text {
    width: 400px;
    margin-top: 106px;

    span {
      font-size: 26px;
      line-height: 1.4;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
  }

  .wrapper-main-login {
    width: 385px;
    box-sizing: border-box;
    padding-left: 41px;
    padding-right: 41px;
    border-radius: 16px;
    background-color: rgb(31, 36, 43);

    .controll-loading-login {
      .loading-login {
        display: flex;
      }

      .controll-form-login {
        display: none;
      }

      .controll-confirm-code-login {
        display: none;
      }
    }

    .hidden-form-login {
      display: none;
    }

    .controll-confirm-code-login {
      display: none;
    }

    .show-confirm-code {
      display: block;
    }

    .loading-login {
      display: none;
      width: 100%;
      height: 462px;
      align-items: center;
      justify-content: center;

      .spinner-login {
        width: 44px;
        height: 44px;
        border: 8px solid rgb(138, 147, 164);
        border-top: 8px solid rgb(203, 171, 9);
        border-radius: 50%;
        animation: spinner-login 1.5s linear infinite;

        @keyframes spinner-login {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
