.container-form {
  width: 100%;
  margin-top: 22px;

  .header-form {
    p {
      margin: 0;
      margin-bottom: 12px;
      font-size: 10px;
      letter-spacing: 0.2px;
      color: rgb(188, 197, 230);
    }
  }

  .receive-news {
    display: flex;
    padding-top: 9px;
    padding-bottom: 25px;
    margin-bottom: 14px;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(53, 61, 72);
    border-bottom-width: 1px;

    input[type="checkbox"] {
      width: 21px;
      height: 21px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
    }

    span {
      font-size: 14.4px;
      line-height: 21px;
      margin-top: 2px;
      color: rgb(212, 216, 235);
    }
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding-left: 9px;
    padding-right: 10px;
    padding-bottom: 25px;
    box-sizing: border-box;

    button {
      height: 47px;
      border-radius: 12px;
      outline: none;
      border-width: 0;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.7px;
    }

    .back {
      width: 45%;
      border-width: 2px;
      border-color: rgb(157, 173, 253);
      color: rgb(157, 173, 253);
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .continue {
      width: 55%;
      color: white;
      background: linear-gradient(to left, rgb(108, 4, 186), rgb(50, 85, 226));
      cursor: pointer;

      &:disabled {
        background: linear-gradient(to right, rgb(227, 227, 227), rgb(227, 227, 227));
        cursor: default;
      }
    }
  }
}
