.link-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 20px;
  border-radius: 12px;
  border-width: 0;
  color: white;
  text-decoration: inherit;
  background-image: linear-gradient(to right, #3255e2, #6c04ba);

  &:hover {
    background-image: linear-gradient(to right, #2547cd, #640dcf);
  }

  &.style-width {
    width: 100%;
  }

  &.style-padding {
    padding-left: 48px;
    padding-right: 48px;
  }

  &.medio {
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
  }

  &.style-login-create {
    height: 43px;
    font-size: 23px;
    font-weight: bold;
  }

  &.small {
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.button-style {
  padding: 9px 50px;
  color: white;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.9px;
  background-image: linear-gradient(to right, #3255e2, #6c04ba);

  &:hover {
    background-image: linear-gradient(to right, #2547cd, #640dcf);
  }
}
