.form-buttons {
  display: flex;
  gap: 8px;
  padding-left: 9px;
  padding-right: 10px;
  padding-bottom: 25px;
  box-sizing: border-box;

  .form-buttons-back {
    width: 45%;

    button {
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }

  .form-buttons-continue {
    width: 54%;

    button {
      padding-top: 11px;
      padding-bottom: 12px;
    }
  }
}
