.container-form-profile {
  margin-top: 20px;
  margin-left: 42px;

  .form-profile {
    width: 100%;
    height: 830px;
    padding-right: 80px;
    padding-top: 2px;
    box-sizing: border-box;
    overflow-y: auto;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgb(50, 60, 70);
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: transparent;
    }

    h3 {
      font-size: 26px;
    }

    .profile-checkbox {
      display: flex;
      margin-top: 10px;
      padding-bottom: 30px;
      border-width: 0px;
      border-style: solid;
      border-bottom-width: 1px;
      border-color: rgb(50, 55, 62);

      input[type="checkbox"] {
        width: 21px;
        height: 21px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 10px;
        outline: none;
        cursor: pointer;
      }

      span {
        font-size: 14px;
        margin-top: 3px;
      }
    }

    .terms-of-use {
      margin-top: 13px;
      margin-bottom: 1px;
    }
  }
}
