.container-cinemas {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 102px;
  margin-bottom: 156px;

  .wrapper-cinemas {
    padding-left: 15px;
    padding-right: 15px;

    .wrapper-all-cinemas {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 45px;
    }
  }
}
