.wrapper-sessions-type {
  display: flex;
  width: 100%;
  margin-top: 16px;
  user-select: none;

  .sessions-type {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2px;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(152, 170, 236);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 5px;
    color: rgb(152, 170, 236);

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
