.container-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 90;

  .primary-header {
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #3255e2, #202380);

    .header-elements {
      display: flex;
      height: 72px;
      max-width: 1440px;
      align-items: center;
      margin: 0 auto;
      padding-left: 16px;
      box-sizing: border-box;

      .icon-ingresso {
        margin-right: 48px;

        .logo-header {
          width: 128px;
          height: 36px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .header-button-city {
        border: 0;
        padding: 0;
        color: white;
        cursor: pointer;
        padding: 8px 17px;
        border-radius: 18px;
        background-color: rgb(32 35 128);

        &:hover {
          background-color: rgb(35, 46, 149);
        }

        .city-header {
          display: flex;
          gap: 9px;
          align-items: center;

          svg {
            width: 14px;
            height: 14px;
          }

          svg:last-child {
            width: 16px;
            height: 16px;
            margin-left: 2px;
            padding-right: 3px;
          }

          span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
        }
      }

      .search-and-login {
        display: flex;
        gap: 56px;
        align-items: center;
        margin-left: auto;
        margin-right: 18px;

        .header-input-search {
          position: relative;

          input {
            width: 196px;
            height: 28px;
            color: white;
            border-width: 1px;
            border-color: white;
            border-radius: 18px;
            outline: none;
            padding-left: 40px;
            background-color: transparent;
          }

          svg {
            position: absolute;
            height: 32px;
            cursor: pointer;
            z-index: 5;
          }

          .bi-search {
            left: 14px;
            z-index: 5;
          }

          .bi-x-lg {
            width: 15px;
            right: 18px;
          }
        }

        .wrapper-login {
          .header-button-user-profile {
            border: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 13px;
            cursor: pointer;
            color: white;
            background-color: transparent;

            &:hover {
              opacity: 0.7;
            }

            .user-profile-first-letter {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              font-size: 24px;
              font-weight: bold;
              background-color: #ffce00;
            }

            .user-profile-menu {
              display: flex;
              flex-direction: column;
              text-align: start;

              p {
                margin: 0;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.4px;
                background: linear-gradient(to right, #ffce00, #ff8000);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-text-stroke: 0.3px transparent;
                color: transparent;
              }

              span {
                font-size: 11px;
                font-weight: bold;
                line-height: 16px;
                letter-spacing: 0.5px;
              }
            }
          }

          .header-button-login {
            border: 0;
            padding: 0;
            font-size: 12px;
            letter-spacing: 0.2px;
            color: black;
            cursor: pointer;
            padding: 9px 21px;
            border-radius: 18px;
            background: linear-gradient(to right, #ffce00, #ff8000);
            -webkit-text-stroke: 0.4px;
          }
        }

        .header-button-help {
          border: 0;
          padding: 0;
          height: 48px;
          color: white;
          background-color: transparent;
          cursor: pointer;
          transition: all 100ms;

          &:hover {
            color: #9ca4bf;
          }

          .icons-wrapper {
            width: 19px;
            height: 18px;
            padding-left: 2px;
            padding-right: 1px;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
