.wrapper-instruction {
  margin-left: 16px;

  .instruction {
    display: flex;
    width: 100%;
    padding-top: 41px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgb(34, 40, 49);

    h3 {
      margin: 0;
      font-size: 16.4px;
    }

    .sell-with-us {
      display: flex;
      width: 180px;
      height: 160px;
      flex-direction: column;
      align-items: center;
      margin-left: 80px;
      border-radius: 16px;
      padding: 7px 14px;
      text-align: center;
      background-color: rgb(33 38 45);

      h3 {
        width: 170px;
        font-size: 17px;
        margin-top: 8px;
        line-height: 1.4;
      }

      span {
        font-size: 12.2px;
        margin-top: 8px;
        margin-bottom: 15px;
        line-height: 1.31;
      }

      button {
        padding: 11px 30px;
        border-radius: 10px;
        border-style: none;
        outline: none;
        font-size: 15.4px;
        font-weight: 600;
        letter-spacing: 0.3px;
        background: linear-gradient(to right, #ffce00, #ff8000);
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, #ffbb00, #ff8000);
        }
      }
    }

    .wrapper-awards {
      display: flex;
      gap: 64px;
      padding-bottom: 52px;

      h3 {
        padding-top: 1px;
        font-size: 16.4px;
      }

      .awards {
        max-width: 250px;
        padding-top: 23px;

        img {
          max-width: 185px;
          height: 100%;
        }
      }
    }
  }

  .ingresso-address {
    display: flex;
    height: 110px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    span {
      font-size: 10px;
      letter-spacing: 0.1px;
    }

    a {
      text-decoration: none;
      color: rgb(152, 170, 236);
    }
  }
}
