.container-login-or-create {
  display: flex;
  width: 500px;

  h3 {
    margin: 0;
    font-size: 18.4px;
    padding: 0;
    line-height: 27px;
    margin-bottom: 24px;
  }

  .create-account {
    width: 50%;
    box-sizing: border-box;
    padding-right: 18px;

    p {
      margin: 0;
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 20px;
    }

    button {
      font-size: 17px;
      border-radius: 10px;
    }
  }

  .login-account {
    margin-left: 24px;
    padding-left: 24px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(52, 60, 70);

    h3 {
      margin-bottom: 26px;
    }

    a {
      font-size: 15px;
      text-decoration: none;
      color: rgb(152, 170, 236);
    }
  }
}
