.container-profile {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 18px;

  .wrapper-profile-header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #3255e2, #202380);

    .profile-header {
      display: flex;
      width: 1140px;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;

      .profile-logo-header {
        width: 159px;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .profile-header-options {
        display: flex;
        gap: 42px;
        height: 100%;
        align-items: center;
        margin-right: 16px;

        .profile-options {
          display: flex;
          gap: 8px;
          cursor: pointer;

          svg {
            width: 25px;
            height: 25px;
          }

          span {
            font-size: 19px;
            font-weight: 500;
            letter-spacing: -0.4px;
            background: linear-gradient(to right, #ffce00, #ff8000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
          }
        }

        .profile-help {
          width: 25px;
          height: 25px;
          cursor: pointer;
          padding: 2px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .wrapper-profile-main {
    display: flex;
    width: 1140px;
    height: 850px;
    margin: 0 auto;
    padding-right: 32px;
    box-sizing: border-box;

    .wrapper-nav-profile {
      max-width: 310px;
      width: 100%;
      height: 100%;
      background-color: rgb(31, 36, 43);

      .wrapper-info-profile {
        padding-top: 18px;
        padding-left: 24px;

        a {
          font-size: 12px;
          color: rgb(157, 173, 253);
          text-decoration: none;
        }

        h3 {
          font-size: 20px;
          font-weight: 400;
          margin-top: 11px;
          line-height: 30px;
          margin-bottom: 0px;
          font-family: sans-serif;
        }

        .profile-icon-email {
          display: flex;
          gap: 8px;
          margin-top: 24px;
          margin-left: 2px;
          color: rgb(146, 154, 163);

          svg {
            min-width: 20px;
            width: 20px;
            height: 20px;
          }

          span {
            overflow: hidden;
          }
        }
      }

      .nav-profile {
        margin-top: 50px;
        margin-left: 16px;

        ul {
          width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;

          li:first-child {
            margin: 0;
          }

          li {
            margin-top: 16px;

            a {
              display: flex;
              width: 100%;
              gap: 4px;
              align-items: center;
              padding-top: 8px;
              padding-bottom: 8px;
              padding-left: 8px;
              box-sizing: border-box;
              text-decoration: none;
              border-top-left-radius: 16px;
              border-bottom-left-radius: 16px;
              color: rgb(200, 202, 211);
              background-color: rgb(52, 59, 70);

              span {
                font-size: 14px;
              }

              &.isActive {
                background-color: rgb(50, 85, 226);

                span {
                  font-weight: 700;
                  letter-spacing: -0.4px;
                }
              }
            }
          }
        }
      }

      .wrapper-logout {
        display: inline-block;
        margin-top: 80px;
        margin-left: 14px;
        color: rgb(157, 173, 253);

        .logout {
          display: flex;
          gap: 11px;
          align-items: center;
          cursor: pointer;

          svg {
            width: 20px;
            height: 20px;
          }

          span {
            font-size: 17px;
          }
        }
      }
    }

    .content-profile {
      width: 100%;
      height: 100%;
    }
  }
}
