.wrapper-confirmed-account {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 10;

  .confirmed-account {
    width: 266px;
    // height: 350px;
    padding: 20px 23px 40px 23px;
    border-radius: 14px;
    background-color: rgb(29, 37, 47);
    font-family: Arial, sans-serif;

    .confirmed-account-close-button {
      text-align: right;

      svg:hover {
        cursor: pointer;
      }
    }

    .confirmed-account-icon {
      text-align: center;
      margin-top: 16px;

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 4px;
      }
    }

    .confirmed-account-button {
      text-align: center;

      h3 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;
      }

      button {
        width: 100%;
        height: 44px;
        font-size: 21px;
      }
    }
  }
}
