.wrapper-valid-password {
  color: rgb(212, 216, 235);

  p {
    margin: 0;
    margin-bottom: 7px;
    padding-top: 1px;
    font-size: 13.6px;
    letter-spacing: -0.2px;
  }

  .required-in-password {
    display: flex;
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 10px;
    }

    &.valid {
      svg {
        path {
          stroke: #0c0;
        }
      }
    }

    svg {
      padding-top: 2px;
      padding-right: 8px;

      path {
        stroke: rgb(212, 216, 235);
      }
    }

    span {
      font-size: 13.5px;
      letter-spacing: -0.3px;
    }
  }
}
