.wrapper-password-changed {
  width: 340px;
  text-align: center;
  box-sizing: border-box;
  padding: 19px 19px 39px 20px;
  border-radius: 16px;
  background-color: rgb(29, 37, 47);

  .close-password-changed {
    text-align: right;
    margin-bottom: 10px;

    svg:hover {
      cursor: pointer;
    }
  }

  .icon-password-changed {
    height: 97px;
    padding-top: 14px;
    margin-bottom: 14px;

    svg {
      width: 97px;
      height: 100%;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 17px;
  }

  span {
    display: block;
    text-align: left;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .button-password-changed {
    padding-left: 15px;
    padding-right: 16px;

    button{
      padding-bottom: 9px;
    }
  }
}
